// tint colors, higher is brighter
@function tint($color, $percentage) {
    @return mix($white, $color, $percentage);
}
  
// shade colors, higher is darker
@function shade($color, $percentage) {
    @return mix($black, $color, $percentage);
}
  
// generate brand colors
@each $color, $value in $brand-colors {
    .bg-brand-light-#{$color} {
      border-color: tint($value, 80%);
      border-width: 4px;
      background-color: tint($value, 80%);
      transition: all ease-in-out 0.2s;
      box-shadow: 0 0 0 tint($value, 80%);
      position: relative;

      ::selection {
          background-color: $value;
      }

      .portfolio-image:before {
          background-color: tint($value, 40%);
      }

      &:hover {
          background-color: $white;
          box-shadow: 0 2rem 5rem tint($value, 80%);
          z-index: 3;

          ion-icon {
              color: $value;
          }

          .portfolio-link:hover a {
              color: $value !important;
          }
      }
    }
}
  
@each $color, $value in $brand-colors {
    .bg-brand-#{$color} {
      background-color: $value !important;
    }
}
  